@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import "tailwindcss";


[data-sonner-toaster] {
  top: env(safe-area-inset-top, 0px) !important;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
